<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <app-header></app-header>
    </div>
    <img
    src="https://giftsonlineshop.weba.vn/shop/images/giftsonlineshop/slider/banner2.jpg"
    alt=""
    class="img-banner"
  />
    <div style="background-image: url('assets/images/converted-1-scaled.webp');padding-bottom: 50px; background-repeat: no-repeat; background-size: cover;" class="bg-setQuaTet">
      <div class="gift-sets-container container">
        <img src="assets/images/title.png" alt="title" class="img-title" />
        <h2 class="title">Các Mẫu Giày Đi Chơi Tết Đẹp</h2>
        <div class="product-grid" *ngIf="shoesProducts.length > 0; else noShoes">
          <div class="product-card fashion-holiday" *ngFor="let product of shoesProducts">
            <img
              [src]="product.image"
              alt="Gift Set Image"
              class="product-image"
            />
            <h3 class="product-name">{{ product.name }}</h3>
            <p class="product-price">
              <span class="new-price">{{
                product.price | number:'1.0-0'
              }} VNĐ</span>
            </p>
            <button
                  class="btn btn-danger add-cart"
                  (click)="addProductToCart(product)"
                >
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
          </div>
        </div>
      </div>
      <ng-template #noShoes>
        <p>Không có sản phẩm nào.</p>
      </ng-template>
    </div>
    <app-footer></app-footer>
  </body>
</html>
