.form-register {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}
.container-register {
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: rgb(244, 96, 96);
    color: white;
    border-radius: 50px;
    padding: 20px;
}
.container-register h2, h5 {
    text-align: center;
}

.container-register h5 {
    font-weight: 400;
}

.container-register h5 a {
    color: white;
    text-decoration: none;
}
.container-register h5 a:hover {
    color: black;                                                                                                                                                                                                                                                                                   
    text-decoration: underline;
}

.form-register label {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}
#email {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
}

#username {
    margin-bottom: 20px;
    height: 50px;
    border-radius: 15px;
    padding: 10px;
}

#password {
    margin-bottom: 30px;   
    height: 50px;
    padding: 10px;
    border-radius: 15px;
}
 
.submit {
    background-color: rgb(53, 230, 18);
    color: blcak;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
.submit:hover {
    background-color: rgb(46, 186, 18);
}