.gift-sets-container {
    text-align: center;
    color: white;
    padding: 20px;
  }
  .add-cart {
    width: 150px;
  }
  .btn:hover {
    background-color: green;
    border: 1px solid green;
  }
  .title {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-style: italic;
  }
  .img-title {
    width: 140px;
    height: 110px;
    margin: auto;
    margin-top: 70px;
  }
  .fashion-holiday {
    margin-bottom: 30px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .fashion-holiday img {
    transition: transform 0.3s ease;
  }

  .fashion-holiday:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  .fashion-holiday:hover img {
    transform: scale(1.05);
  }
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .product-card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    color: #000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 10px;
  }
  
  .product-image {
    width: 100%;
    height: auto;
  }
  
  .product-name {
    font-size: 1rem;
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 1rem;
  }
  
  .old-price {
    text-decoration: line-through;
    color: #888;
  }
  
  .new-price {
    color: #e53935;
    font-weight: bold;
    font-size: 20px;
  }
  
    .view-all-btn {
        background-color: #ffccbc;
        color: #b71c1c;
        padding: 15px 70px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        margin-top: 70px;
        margin-bottom: 70px;
        font-size: 1rem;
        font-weight: 600;
      }
  
  .view-all-btn:hover {
    background-color: #ffab91;
  }