<header class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container">

    <!-- LOGO -->
    <img
      src="https://img.pikbest.com/origin/10/06/77/24UpIkbEsTeSX.png!w700wp"
      class="img-mai"
      alt="Nhanh Mai"
    />

    <a class="navbar-brand pacifico-regular" routerLink="/home">
      Quà Xuân
    </a>

    <img
      src="https://mir-s3-cdn-cf.behance.net/projects/404/14963915.5488e414bc788.png"
      class="img-mai2"
      alt="Nhanh Mai"
    />

    <!-- TOGGLER -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- MENU -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-lg-center">

        <!-- TRANG CHỦ -->
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">
            <i class="fa fa-home me-1"></i> Trang Chủ
          </a>
        </li>

        <!-- THỜI TRANG -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
          >
            Thời Trang
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/pageFashion">
                Quần Áo
              </a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/pageGiay">
                Giày Dép
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pageQuaTet">Quà Tết</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pageTinTuc">Tin Tức</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/pageLienHe">Liên Hệ</a>
        </li>

        <!-- ADMIN -->
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link text-warning fw-bold" routerLink="/admin">
            Quản Lý Website
          </a>
        </li>

        <!-- CHƯA LOGIN -->
        <li class="nav-item dropdown" *ngIf="!isLogin">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            <i class="fa fa-user"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" routerLink="/login">Đăng Nhập</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/register">Đăng Ký</a>
            </li>
          </ul>
        </li>

        <!-- ĐÃ LOGIN -->
        <li class="nav-item" *ngIf="isLogin">
          <button
            class="nav-link btn btn-link text-white"
            (click)="logout()"
          >
            Đăng Xuất
          </button>
        </li>

        <!-- CART -->
        <li class="nav-item">
          <button class="nav-link btn-cart" routerLink="/products">
            <i class="fa fa-shopping-cart"></i>
          </button>
        </li>

      </ul>
    </div>
  </div>
</header>
