
/* banner.component.scss */
.swiper {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000;

}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-caption {
  position: absolute;
  text-align: center;
  bottom: 50px;
  left: center;
  color: #fff;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}


