<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <app-header></app-header>
    </div>
    <div
      style="
        background-image: url('assets/images/converted-1-scaled.webp');
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="container pt-5">
        <div>
          <h1>Sự khác biệt giữa tết miền Bắc và tết miền Nam</h1>
          <hr />
        </div>
        <div class="content">
          <p>
            Dù cùng sinh sống trên lãnh thổ Việt Nam nhưng do khác nhau về đặc
            điểm khí hậu, văn hóa và con người nên hai miền Bắc - Nam cũng có sự
            khác biệt nhất định về phong tục tập quán, nhất là vào dịp Tết
            Nguyên Đán.
          </p>
          <p>1. Hoa ngày Tết: Hoa đào và hoa mai</p>
          <img
            src="/assets/images/contact3.webp"
            alt=""
            class="img-content"
          /><br />
          <p>Hoa đào miền Bắc</p>
          <p>
            Đã từ rất lâu rồi, nhắc đến hoa đào và hoa mai là mọi người sẽ nghĩ
            đến ngày Tết Nguyên Đán cổ truyền của dân tộc ta. Hoa đào là biếu
            tượng của ngày Tết ở miền Bắc do hợp với khí hậu lành lạnh nơi đây,
            còn hoa mai rực rỡ lại thích hợp với nắng vàng rực rỡ đất phương
            Nam. Hai loại hoa này chỉ nở vào mùa xuân, gần dịp Tết hoặc trong
            những ngày Tết ngắn ngủi. Nhưng dù là hoa đào hay hoa mai, hai loài
            hoa này cũng báo hiệu mùa xuân về, một năm mới với những sự khởi đầu
            mới với bao may mắn và bình an cho mọi người, mọi nhà.
          </p>
          <p>2. Thời tiết: Lạnh và nóng</p>
          <p>
            Do đất nước ta trải dài từ Bắc xuống Nam với hơn 2000 km chiều dài
            nên có sự phân hóa thời tiết và khí hậu thấy rõ. Miền Bắc có tới bốn
            mùa Xuân, Hạ, Thu, Đông trong khi miền Nam chỉ có hai mùa Mưa và
            Nắng với nhiệt độ luôn ở mức gần 30 độ C, kể cả trong những ngày
            Tết. Vào những ngày này, khi người dân miền Bắc đa phần diện các
            trang phục mùa đông như áo khoác, áo len, áo dạ, khăn quàng ấm... và
            tận hưởng không khí se se lạnh cùng thời tiết mưa phùn của thời tiết
            giao thoa giữa mùa Đông và mùa Xuân thì người dân miền Nam lại tung
            tăng ra đường với áo cộc tay, áo sơ mi... thời tiết cũng không khác
            nhiều thời tiết mùa hè ở miền Bắc là mấy.
          </p>
          <p>3. Bánh cổ truyền: Bánh chưng và bánh tét</p>
          <p>Bánh chưng và bánh Tét</p>
          <p>
            Nếu như miền Bắc có món bánh chưng vuông vắn với màu xanh nổi bật
            của lá dong đã được lưu vào truyền thuyết thì miền Nam lại nổi tiếng
            với món bánh Tét với các nguyên liệu, vỏ và nhân bánh giống hệt với
            bánh chưng, gồm lá dong bọc gạo nếp, nhân thịt mỡ, đậu xanh và hành
            khô, chỉ khác về hình dạng bánh với từng cái bánh hình trụ dài, khi
            ăn có thể cắt ra thành từng khoanh tiện lợi, không như bánh chưng
            hình vuông được cắt thành 8 miếng bánh hình tam giác nhỏ.
          </p>
          <p>4. Các món dưa muối: Dưa hành và dưa giá</p>
          <p>Dưa hành và dưa giá</p>
          <p>
            Trong một câu thơ quen thuộc "Thịt mỡ, dưa hành, câu đối đỏ...", có
            một món ăn quen thuộc được nhắc đến, đó là món dưa hành muối. Đây là
            một món ăn rất quen thuộc của người miền Bắc. Những củ hành tươi sẽ
            được cắt ngắn, đem muối với nước sạch, đường, muối, hành khô cắt nhỏ
            và để tự lên men. Tùy thói quen mà bạn có thể ăn được món này từ 1-3
            ngày. Món hành muối có thể chấm mắm để ăn với cơm hoặc ăn riêng, có
            vị chua chua của dưa muối và hanh hanh của hành, rất ngon miệng và
            không thể thiếu trong các gia đình miền Bắc.
          </p>
          <p>
            Người dân miền Nam cũng có món dưa muối cổ truyền tương ứng với món
            hành muối của miền Bắc, đó là món dưa giá muối. Nguyên liệu chủ yếu
            của món này cũng rất đơn giản, chỉ bao gồm giá đỗ, cà rốt, rau hẹ và
            một số gia vị cơ bản. Đặc điểm của món này là làm xong bạn có thể ăn
            luôn trong ngày chứ không cần đợi đến 2-3 ngày sau như món hành muối
            do đặc điểm dễ thấm gia vị của giá đỗ.
          </p>
          <p>5. Món canh: Canh bóng bì và canh khổ qua hầm</p>
          <p>Các món canh</p>
          <p>
            Vào những ngày Tết âm lịch, người miền Bắc hay nấu món canh bóng bì,
            được làm từ da lợn đã được làm sạch và phơi khô, thêm vào vài cọng
            hành tươi cho đẹp mắt. Món canh này rất được ưa chuộng vì độ ngon
            ngọt của nước canh và cũng rất dễ ăn. Ngược lại với người miền Bắc,
            người miền Nam lại có món canh hầm khổ qua (mướp đắng). Với những
            người mới ăn mướp đắng lần đầu hoặc không ăn quen thì món canh dù có
            độ ngọt cũng không thể át được vị đắng của khổ qua. Nhưng nếu đã ăn
            được thì sẽ rất thích, thậm chí rất "ghiền", theo ngôn ngữ phương
            Nam.
          </p>
          <p>6. Đãi khách</p>
          <p>
            Khi có khách đến chúc Tết, người miền Bắc sẽ đem bánh kẹo, hạt bí,
            hạt dẻ và mứt để đãi khách và cũng thưởng thức chén trà đầu năm. Còn
            với người miền Nam, họ sẽ đón chào những người khách bằng việc mời
            ăn nhậu với bia, rượu, đồ nhắm... do đặc điểm hay ăn nhậu của mình.
          </p>
          <p>7. Mâm ngũ quả: Người miền Nam kiêng chuối</p>
          <p>Trang trí mâm ngũ quả</p>
          <p>
            Trên mâm ngũ quả của người miền Bắc bao giờ cũng có 1 đến 2 nải
            chuối to và đẹp để làm "bệ đỡ" cho các lại quả khác. Đây là truyền
            thống lâu đời, cũng giống như cách bày biện trên bàn thờ ngày
            thường. Nhưng người miền Nam lại rất kiêng loại quả này trên mâm ngũ
            quả, do từ "chuối" đồng âm với từ "chúi" theo cách phát âm của người
            miền Nam, làm người ta dễ liên tưởng đến sự đi xuống hay làm ăn thất
            bát.
          </p>
          <p>8. Cúng ông Táo: Người miền Nam không cúng cá chép</p>
          <p>Cúng ông Táo vào ngày 23 tháng Chạp</p>
          <p>
            Vào ngày 23 tháng Chạp, cả hai miền Bắc - Nam đều có tập tục cúng lễ
            để tiễn ông Táo về trời. Nhưng khác với miền Bắc cúng lễ bao giờ
            cũng đi kèm một con cá chép để ông Táo "cưỡi" về trời, người miền
            Nam lại kiêng cúng cá chép do học có quan niệm, những con vật như cá
            chép rất linh thiêng, chỉ nên dành cho vua chúa nên không được phép
            động đến.
          </p>
          <p>9. Chơi tết</p>
          <p>Con cháu chúc Tết ông bà</p>
          <p>
            Quan niệm của người dân miền Bắc là ngày Tết là thời gian để đoàn tụ
            các thành viên trong gia đình, nên họ thường quây quần bên nhau ở
            nhà để sum họp, trò chuyện và ăn uống hoặc đi chúc tết họ hàng, bạn
            bè, hàng xóm. Nhưng người miền Nam với suy nghĩ và tư duy "thoáng"
            hơn, rằng ngày Tết là để nghỉ ngơi, nên họ thường dành thời gian và
            tiền bạc tích lũy được trong năm để đi du lịch, khám phá đây đó với
            người thân và bạn bè.
          </p>
        </div>
        <div class="news-and-offers container">
          <!-- Tin tức nổi bật -->
          <div class="featured-news">
            <div class="news-cards">
              <div class="news-card" *ngFor="let news of newsItems">
                <img [src]="news.image" alt="news image" class="news-image" />
                <h3 class="news-title">{{ news.title }}</h3>
                <p class="news-description">{{ news.description }}</p>
                <button
                  class="read-more-btn"
                  routerLink="{{ news.seenProfile }}"
                >
                  Xem bài viết
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
