.content{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-content {
    width: 100%;
    height: 400px;
    object-fit: contain;
}
.news-and-offers {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .featured-news {
    margin-bottom: 40px;
  }
  
  .news-cards {
    display: flex;
    gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .news-card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    max-width: 500px;
    flex: 1;
  }
  
  .news-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .news-title {
    font-size: 1.3rem;
    margin: 10px 0;
    font-weight: bold;
    color: #de2d2d;
  }
  
  .news-description {
    font-size: 1rem;
    color: #555;
    margin-bottom: 15px;
  }
  
  .read-more-btn {
    background-color: #b71c1c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .read-more-btn:hover {
    background-color: #d32f2f;
  }
  
