<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <app-header></app-header>
    </div>
    <div
      style="
        background-image: url('assets/images/converted-1-scaled.webp');
        background-repeat: no-repeat;
        background-size: cover;
      "
    >
      <div class="container pt-5">
        <div>
          <h1>Phong tục đón tết nguyên đán của người Việt Nam</h1>
          <hr />
        </div>
        <div class="content">
          <p>
            Mỗi người Việt Nam có tục hằng năm mỗi khi Tết đến dù là bận bịu
            công việc tới cỡ nào, hay định cư, sinh sống tại nơi đâu thì học
            cũng lại trở về sum họp dưới mái ấm gia đình. Nhiều người muốn được
            khấn vái trước bàn thờ, thăm lại ngôi mộ hay nhà thờ tổ tiên.Nhiều
            người cũng muốn thăm lại nơi họ đã từng sinh sống với gia đình trong
            thời niên thiếu. Đối với nhiều người xuất thân từ nông thôn miền Nam
            Việt Nam, kỷ niệm thời niên thiếu có thể gắn liền với giếng nước,
            mảnh sân nhà. "Về quê ăn Tết" đã trở thành thành ngữ chỉ cuộc hành
            hương về nơi cội nguồn
          </p>
          <img
            src="/assets/images/contact1.webp"
            alt=""
            class="img-content"
          /><br />
          <p>
            Gần đến tết, người ta sắm tranh Tết, hoa Tết, thường có cành mai cắm
            trên lọ độc bình trên bàn thờ và trang hoàng từ trong nhà đến ngoài
            ngõ. Trước đây người ta hay cắt giấy vàng bọc thành những ô vuông
            hay hình quả tram dán trên cổng, cửa, cột nhà, chuồng trâu, chuồng
            heo, cối xay, cối giã, lu nước, cây ăn trái trong vườn... Người ta
            cũng đem lư đồng ô trầu chén dĩa, ly tách chậu hoa, bình rượu ra
            đánh bóng, lau sạch.
          </p>
          <p>Không khí rộn ràng đón Tết</p>
          <p>
            Ngày Tết, ngày xuân là ngày hội đoàn tụ, đoàn viên, nếu không thì là
            những ngày nhớ thương da diết nhất. Trước tiên là nghĩ đến những
            người đã chết, họ tổ chức đi chạp mộ để tỏ lòng "uống nước nhớ
            nguồn".
          </p>
          <p>Chiều 23 tháng chạp, "đưa ông Táo về trời"</p>
          <p>
            Ngày 30 làm một mâm cơm cúng tổ tiên, gọi là lễ "rước ông bà" và sau
            đó đến ngày mồng 3 tháng Giêng thì làm lễ "đưa ông bà".
          </p>
          <p>
            Người ta cũng dựng nêu, đốt pháo, nhưng lại thích gói bánh tét chứ
            không gói bánh chưng. Bánh tét có nhiều loại: bánh tét chay, bánh
            tét mặn, bánh tét ngọt. Bánh tét chay không nhân. Người ta chỉ trộn
            đỗ đen vào nếp rồi gói lại đem nấu. Có thể cho thêm vào cùi dừa nạo
            nhuyễn để tăng vị béo. Gói bánh tét mặn, người ta trải gạo nếp trên
            lá chuối, rải lớp đỗ xanh lên, rồi đặt một thỏi mỡ gần bằng ngón
            chân cái dài suốt đòn bánh như một sợi bấc, xong cuộn tròn lại buộc
            chặt. Bánh tét ngọt nhân làm bằng đỗ xanh xào đường.
          </p>
          <p>
            Mâm cơm cúng tất niên chiều 30 tết, thường quy tụ đủ mặt mọi người
            thân trong gia đình. Tục xưa quan niệm rằng mỗi năm có một ông Hành
            Khiển coi việc nhân gian, hết năm thì thần nọ bàn giao cho thần kia,
            nên cúng tế, đốt pháo là để tiễn đưa ông cũ và đón ông mới. Trong số
            những câu liễn treo ngày Tết có câu: "Bộc trúc nhất thanh trừ cựu
            tuế, Đào phù vạn hộ khánh tân xuân" (một tiếng pháo tiễn đưa năm cũ;
            muôn nhà, bùa đào tức cây nêu đón chào năm mới).
          </p>
          <p>
            Giao thừa là thời điểm thiêng liêng giữa năm cũ và năm mới, khi đất
            - trời giao cảm, muôn vật như tạm thời ngưng đọng trong giây phút để
            rồi bừng ra một sức sống mới, một sự tái sinh kỳ diệu.
          </p>
          <p>Đón Giao thừa chào năm mới bình an và may mắn</p>
          <p>
            Ba ngày tết là ba ngày vui chơi, ăn uống, thăm viếng, chúc mừng nhau
            những điều mới mẻ, tốt lành. Một tập quán phổ biến là trong những
            ngày đầu năm, mọi người đều chỉ nói ra những lời hay, ý đẹp, gặp
            nhau chào mừng, hy vọng mọi điều như ý. Bao điều không vui, không
            vừa lòng năm trước đều bỏ đi. Sách Gia định thành thông chí của
            Trịnh Hoài Đức, trong mục "Phong tục chí" có đoạn: "Phàm những khoản
            vay mượn thiếu thốn trong tiết ấy không được đòi hỏi, đợi ngày hạ
            nêu mới được nhắc đến.
          </p>
          <p>
            Mồng một người ta thường hay đến cúng vái và thăm hỏi những nhà bên
            họ nội, mồng hai sang lễ tết bên nhà vợ và mồng ba đến thăm thầy, vì
            thế có câu "Mồng một tết cha, mồng hai nhà vợ, mồng ba nhà thầy".
            Khi đến thăm họ hàng, bạn bè, người ta thường chúc nhau mạnh khỏe,
            sống lâu, may mắn gọi là "làm tuổi", và "lì xì" tức là cho tiền vào
            phong bao giấy đỏ "mừng tuổi cho trẻ em".
          </p>
          <p>Trẻ em nhận lì xì từ ông bà cha mẹ</p>
          <p>
            Nói chung Tết ở miền Nam Việt Nam hay ở cả 3 miền đất nước đều có
            thể phân làm 3 khoảng thời gian, mỗi khoảng thời gian ứng với những
            sự chuẩn bị, ứng với những lễ nghi hay ứng với những hình thức thể
            hiện khác nhau, đó là Tất Niên, Giao Thừa và Tân Niên.
          </p>
          <p>Tất Niên</p>
          <p>
            Đối với Tết cổ truyền, dịp tất niên là lúc mọi nhà chuẩn bị cho Tết,
            mua tích trữ thực phẩm và đồ dùng thiết yếu. Lý do là nhiều hoạt
            động mua bán sẽ bị ngưng trệ trong và sau Tết, chừng một vài ngày
            đến một tuần, do mọi người đều nghỉ ăn Tết. Nhu cầu mua sắm vào dịp
            này cũng một phần là vì các nhà thường chuẩn bị tài chánh cho dịp
            Tết từ năm cũ. Những nhà làm nghề nông cũng tích trữ vật nuôi hay
            hoa màu từ trong năm cũ cho dịp Tết.
          </p>
          <p>Không khí rộn ràng chuẩn bị đón Tết</p>
          <p>
            Bước vào bất cứ nhà nào trong thời điểm cuối năm cũng có thể nhận
            thấy ngay không khí chuẩn bị Tết nhộn nhịp và khẩn trương, từ việc
            mua sắm, may mặc đến việc trang trí nhà cửa, chuẩn bị bánh trái, cỗ
            bàn, đón tiếp người thân ở xa về... Đối với các gia đình lớn, họ
            hàng đông, có quan hệ xã hội rộng, đông con cháu, dâu rể, thì công
            việc chuẩn bị càng phức tạp hơn.
          </p>
          <p>Cúng bái</p>
          <p>
            - Sắp dọn bàn thờ – Trong gia đình người Việt thường có một bàn thờ
            tổ tiên, ông bà (hay còn gọi ông Vải). Tuỳ theo từng nhà, cách trang
            trí và sắp đặt bàn thờ khác nhau. Biền, bàn thờ là nơi tưởng nhớ, là
            thế giới thu nhỏ của người đã khuất. Hai cây đèn tượng trưng cho mặt
            trời, mặt trăng, hương là tinh tú.
          </p>
          <p>
            Hai bát hương để đối xứng, phía sau 2 cây đèn thường có hai cành hoa
            cúc giấy, với nhiều bong nhỏ bao quanh bông lớn. Cũng có nhà cắm "
            cành vàng lá ngọc " ( một thứ hàng mã ) với cầu mong làm ăn được quả
            vàng, quả bạc, buôn bán lãi gấp 5, gấp 10 lần năm trước. Ở giữa có
            trục "vũ trụ" là khúc trầm hương dưới dạng khúc khuỷu, vươn lên
            trong bát hương. Nhiều gia đình đặt xen giữa đèn và hương là hai cái
            đĩa để đặt hoa quả lễ gọi là mâm ngũ quả ( tuỳ mỗi miền có sự biến
            thiên các loại quả, nhưng mỗi loại quả đều có ý nghĩa của nó ), phía
            trước bát hương để một bát nước trong, coi như nước thiêng. Hai cây
            mía đặt ở hai bên bàn thờ là để các cụ chống gậy về với con cháu,
            dẫn linh hồn tổ tiên từ trên trời về hạ giới...
          </p>
          <p>
            - Cúng ông Táo – theo quan điểm của người Việt thì ông Táo là người
            ghi chép tất cả những gì con người làm trong năm và báo cáo với Ngọc
            Hoàng. Ngoài ra, ông Táo còn đại diện cho sự ấm no của một gia đình.
            Ông Táo được cúng vào ngày 23 tháng chạp Âm lịch hàng năm. Lễ cúng
            ngoài hương, nến, hoa quả, vàng mã còn có hai mũ đàn ông, một mũ đàn
            bà và con cá chép, cá chép sẽ đưa ông Táo vượt qua Vũ Môn để lên
            Thiên đình gặp Ngọc Hoàng.
          </p>
          <p>
            - Cúng Tất niên: lúc đầu được hiểu như là hoàn tất (công việc) trong
            năm, tức cúng các tổ nghề đã phù hộ cho công việc làm ăn, nhưng vì
            không phải thợ nào cũng có vị tổ nghề rõ ràng nên dần dà, mọi người
            đều cúng. Lễ cúng này thường vào các ngày từ sau 23 đến 29 hoặc 30
            Tết.
          </p>
          <p>Giao thừa</p>
          <p>
            - Cúng Giao thừa: Theo tục lệ cổ truyền thì "giao thừa" được tổ chức
            nhằm đón các thiên binh. Lúc đó họ đi thị sát dưới hạ giới, rất vội
            không kịp vào tận bên trong nhà được, nên bàn cúng thường được đặt ở
            ngoài cửa chính mỗi nhà. Mâm lễ được sắp bày với lòng thành tiễn đưa
            người nhà trời đã cai quản mình năm cũ và đón người mới xuống làm
            nhiệm vụ cai quản hạ giới năm tới.
          </p>
          <p>Mâm cỗ cúng Giao thừa</p>
          <p>
            Vì việc bàn giao, tiếp quản công việc hết sức khẩn trương nên các vị
            chỉ có thể ăn vội vàng hoặc mang theo, thậm chí chỉ chứng kiến lòng
            thành của chủ nhà. Trên chiếc hương án có bình hương, hai ngọn đèn
            dầu hoặc hai ngọn nến. Lễ vật trên bàn cúng của người dân miền Nam
            thường là con gà, bánh chưng miền Nam, mứt kẹo, trầu cau, hoa quả,
            rượu nước và vàng mã. Đôi khi có thêm chiếc mũ của Đại Vương hành
            khiển.
          </p>
          <p>
            Lẽ trời đất có khởi thuỷ phải có tận cùng, một năm có bắt đầu ắt
            phải có kết thúc. Bắt đầu vào lúc giao thừa, và cũng kết thúc vào
            lúc giao thừa. Theo Từ điển Hán-Việt xưa, giao thừa nghĩa là cũ giao
            lại, mới đón lấy. Cao đài Từ điển giải nghĩa trừ tịch 除夕 thì trừ:
            bỏ đi, bớt ra, cuối năm; tịch: đêm và Giao thừa 交承 thì giao: giao
            tiếp và thừa: tiếp tục. Ý nghĩa của lễ này là đem bỏ hết đi những
            điều xấu của năm cũ để đón những điều tốt đẹp của năm mới sắp đến.
            Lễ trừ tịch còn là lễ để " khu trừ ma quỷ".
          </p>
          <p>
            - Sau khi cúng Giao thừa xong, các gia chủ khấn Thổ Công – dân miền
            Nam ưa gọi là Ông Địa, tức là vị thần cai quản trong nhà (thường bàn
            thờ tổ tiên ở giữa, bàn thờ Ông Địa ở bên trái) để xin phép cho tổ
            tiên về ăn Tết. Ở miền Nam, Ông Địa được thờ ở dưới đất. Sau khi
            cúng xong, xem như Tết thực sự đã đến với gia đình.
          </p>
          <p>
            - Pháo Tết: Trước đây, đúng vào phút Giao thừa, mọi người thường đốt
            pháo Tết. Theo lời truyền miệng dân gian, pháo được cho nổ vào dịp
            năm mới để xua đuổi ma quỷ của năm cũ (vì người xưa đã tin rằng ma
            quỷ sợ tiếng động lớn) và chào đón năm mới. Pháo càng dài và lớn, nổ
            càng lâu, kêu càng to, cháy ra nhiều xác phác pháo và cháy hết thì
            càng được cho là điềm lành của năm mới.
          </p>
          <p>Tân Niên</p>
          <p>
            - Xông đất: Người Việt quan niệm ngày mùng Một Tết, nếu mọi việc xảy
            ra suôn sẻ, may mắn thì cả năm cũng sẽ được tốt lành thuận lợi.
            Người khách đến thăm nhà đầu tiên trong một năm cũng vì thế mà quan
            trọng. Cho nên cứ cuối năm, mọi người cố ý tìm xem những người trong
            bà con hay láng giềng có tính vui vẻ, linh hoạt, đạo đức và thành
            công để nhờ sang thăm. Người đến xông đất thường chỉ đến thăm, chúc
            tết chừng năm mười phút chứ không ở lại lâu, cho mọi việc trong năm
            của chủ nhà cũng được trôi chảy thông suốt. Người đi xông đất xong
            có niềm vui vì đã làm được việc phước, người được xông đất cũng sung
            sướng vì tin tưởng gia đạo mình sẽ may mắn trong suốt năm tới. Thời
            xưa chỉ có 2 cách chọn người tốt vía xông đất ngày đầu năm. Kẻ làm
            quan, người có học chọn người xông đất có tuồi hợp tuổi với chủ nhà.
            Người xông đất phải là đàn ông trụ cột trong gia đình. Đối với người
            dân lao động thì đơn giản hơn nhiều: Người được chọn xông đất phải
            khoẻ mạnh, tốt tính, và gia cảnh khấm khá, hoà thuận.
          </p>
          <p>
            - Chúc Tết: Sáng mồng Một Tết còn gọi là ngày Chánh đán, con cháu tụ
            họp ở nhà tộc trưởng để lễ Tổ Tiên và chúc tết ông bà, các bậc huynh
            trưởng. Theo quan niệm, cứ năm mới tới, mỗi người tăng lên một tuổị,
            bởi vậy ngày mồng Một Tết là ngày con cháu "chúc thọ" ông bà và các
            bậc cao niên (ngày xưa, các cụ thường không nhớ rõ ngày tháng sinh
            nên chỉ biết Tết đến là thêm 1 tuổi).
          </p>
          <p>
            - Lì xì (利是, phát âm theo người Quảng Đông: lishi): người lớn
            thường tặng trẻ em tiền bỏ trong một bao giấy đỏ, hay "hồng bao",
            gọi là "lì xì" với những lời chúc mừng ăn no, chóng lớn. Theo cổ
            tích Trung Hoa thì trong "hồng bao" có 8 đồng tiền (là Bát Tiên hoá
            thân) được đặt dưới gối đứa trẻ để xua đuổi quỷ đến quấy nhiễu.
          </p>
          <p>Lì xì may mắn lộc đầu năm</p>
          <br />
          <p>
            - Xuất hành và hái lộc: "Xuất hành" là đi ra khỏi nhà trong ngày đầu
            năm để đi tìm cái may mắn cho mình và gia đình. Trước khi xuất hành,
            người ta phải chọn ngày, giờ và các phương hướng tốt để mong gặp
            được các quý thần, tài thần, hỉ thần... Nếu xuất hành ra chùa hay
            đền, sau khi lễ bái, người Việt còn có tục bẻ lấy một "cành lộc" để
            mang về nhà lấy may, lấy phước. Đó là tục "hái lộc". Cành lộc là một
            cành đa nhỏ hay cành đề, cành si... là những loại cây quanh năm tươi
            tốt và nẩy lộc. Tục hái lộc ở các nơi đền, chùa ngụ ý xin hưởng chút
            lộc của Thần, Phật ban cho nhân năm mới. Cành lộc thường đem về cắm
            ở bàn thờ. Khác với miền Bắc, miền Trung không có tục hái lộc đầu
            năm nhờ thế mà cây cối trong các đền chùa ở miền Trung vẫn giữ
            nguyên lá xanh biếc suốt cả mùa xuân.
          </p>
          <p>
            - Thăm viếng họ hàng – để gắn kết tình cảm già đình họ hàng v.v. Lời
            chúc tết thường là sức khoẻ, phát tài phát lộc, gặp nhiều may mắn,
            mọi ước muốn đều thành công...; những người năm cũ gặp rủi ro thì
            động viên nhau "tai qua nạn khỏi" hay "của đi thay người" nghĩa là
            trong cái họa cũng tìm thấy cái phúc, hướng về sự tốt lành.
          </p>
        </div>
        <div class="news-and-offers container">
          <!-- Tin tức nổi bật -->
          <div class="featured-news">
            <div class="news-cards">
              <div class="news-card" *ngFor="let news of newsItems">
                <img [src]="news.image" alt="news image" class="news-image" />
                <h3 class="news-title">{{ news.title }}</h3>
                <p class="news-description">{{ news.description }}</p>
                <button
                  class="read-more-btn"
                  routerLink="{{ news.seenProfile }}"
                >
                  Xem bài viết
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
