<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <app-header></app-header>
    </div>
    <img
      src="https://giftsonlineshop.weba.vn/shop/images/giftsonlineshop/slider/bannerso1.jpg"
      alt=""
      class="img-banner"
    />
    <section
      class="py-5"
      style="background-image: url('assets/images/converted-1-scaled.webp')"
    >
      <div class="container">
        <img
          src="assets/images/title.png"
          alt="title"
          class="img-title gift-holiday"
        />
        <h2 class="text-center head2 gift">Các Trang Phục Ngày Tết</h2>

        <div class="row" *ngIf="fashionProducts.length > 0; else noFashion">
          <div class="col-md-4" *ngFor="let product of fashionProducts">
            <div class="card fashion-holiday">
              <img
                src="{{ product.image }}"
                class="card-img-top"
                alt="{{ product.name }}"
              />
              <div class="card-body text-center">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text" style="color: red; font-weight: 500">
                  {{ product.price }} VND
                </p>
                <button
                  class="btn btn-danger add-cart"
                  (click)="addProductToCart(product)"
                >
                  <i class="fa-solid fa-cart-plus"></i>
                </button>
              </div>
            </div>
          </div>
          <button
            mat-raised-button
            color="primary"
            (click)="openModal()"
            style="
              width: 200px;
              font-weight: 500;
              border: none;
              height: 50px;
              background-color: rgb(58, 229, 58);
              border-radius: 20px;
              margin: auto;
            "
          >
            Thêm sản phẩm
          </button>
        </div>
        <ng-template #noFashion>
          <p>Không có sản phẩm nào.</p>
        </ng-template>
      </div>
    </section>
    <app-footer></app-footer>
    <router-outlet></router-outlet>
  </body>
</html>
