<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
        <app-header></app-header>
    </div>
    <div style="background-image: url('assets/images/converted-1-scaled.webp'); background-repeat: no-repeat; background-size: cover;">
      <div class="news-and-offers container">
        <!-- Tin tức nổi bật -->
        <div class="featured-news">
        <img src="assets/images/title.png" alt="title" class="img-title" />
          <h2 class="section-title">Tin Tức Nổi Bật</h2>
          <div class="news-cards">
            <div class="news-card" *ngFor="let news of newsItems">
              <img [src]="news.image" alt="news image" class="news-image" />
              <h3 class="news-title">{{ news.title }}</h3>
              <p class="news-description">{{ news.description }}</p>
              <button class="read-more-btn" routerLink="{{news.seenProfile}}">Xem bài viết</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
