<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <app-header></app-header>
    <div
      style="
        background-image: url('assets/images/converted-1-scaled.webp');
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
        justify-content: center;
        display: flex;
        align-items: center;
      "
    >
      <div class="container container-login">
        <h2>Đăng Nhập Tài Khoản</h2>
        <h5>
          Bạn chưa có tài khoản? Đăng ký <a routerLink="/register">tại đây</a>
        </h5>
        <form #loginForm="ngForm" (ngSubmit)="login()" class="form-login">
          <label for="login-email">Email</label>
          <input
            type="email"
            id="login-email"
            name="email"
            [(ngModel)]="loginData.email"
            placeholder="Nhập email"
            required
          />

          <label for="login-password">Mật khẩu</label>
          <input
            type="password"
            id="login-password"
            name="password"
            [(ngModel)]="loginData.password"
            placeholder="Nhập mật khẩu"
            required
          />
          <div class="error-message" *ngIf="loginError">{{ loginError }}</div>

          <button type="submit" class="submit" [disabled]="loginForm.invalid">
            Đăng nhập
          </button>
        </form>
      </div>
    </div>
    <app-footer></app-footer>
  </body>
</html>
